
body {
    background-color:beige;
    display: flex; 
    justify-content: center; 
    color: snow; 
}

.container {
    background-color: darkseagreen;
    margin: 5em;
    border-radius: 1.5em;
    padding:1em;
    height: 80vh;
}


form {
    display: flex;
    gap: 1em;
}

input {
    flex:1;
    border: none;
    border-radius: 2em; 
}

button {
    border: none;
    background-color: beige;
    color: dimgrey;
    padding:0.5em;
    border-radius: 2em;
    cursor: pointer;
}

button:hover {
    background-color: darkgoldenrod;
    color: bisque;
}

ul {
    margin-top: 2em;
}

li {
    font-size: 1.5em;
    padding: 0.5em;
}
li.completed {
    text-decoration: line-through;
}